.App {
  text-align: center;
  overflow-x: hidden;
}

.App-header {
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
  margin-bottomn: 1rem;
}

.login-register-container {
  width: 40vw !important;
}

.bg-navyish {
  background-color: #282c34 !important;
  color: white;
}

.error-text {
  color: red;
}

.search-bar {
  width: 45vw !important;
}

.todo-list {
  list-style: none;
}

.todo {
  height: 35vh;
  width: 30vw;
  overflow: auto
}

.high-priority-todo {
  background: rgba(255, 0, 0, 0.2) !important;
}

