.App {
  text-align: center;
  overflow-x: hidden;
}

.App-header {
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
  margin-bottomn: 1rem;
}

.login-register-container {
  width: 40vw !important;
}

.bg-navyish {
  background-color: #282c34 !important;
  color: white;
}

.error-text {
  color: red;
}

.search-bar {
  width: 45vw !important;
}

.todo-list {
  list-style: none;
}

.todo {
  height: 35vh;
  width: 200px;
}

.todo:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 1;
}

.high-priority-todo {
  background: rgba(220,20,60,0.5);
}

.normal-priority-todo {
  background: rgba(218,165,32,0.6);
}

.low-priority-todo {
  background: rgba(127,255,212,.6);
}