.App {
  text-align: center;
  overflow-x: hidden;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottomn: 1rem;
}

.bg-navyish {
  background-color: #282c34 !important;
  color: white;
}

.search-bar {
  width: 45vw !important;
}

.todo-list {
  list-style: none;
}

.todo {
  height: 35vh;
  width: 30vw;
  overflow: auto
}

.high-priority-todo {
  background: red;
}